:root {
	--white: #ffffff;
	--gray: #dddddd;
	--dark-gray: #777777;
	--black: #000000;
	--blue: #2222ff;
	--light-blue: #5555ff;
	--default-padding: 0.5rem;
	--default-margins: 0.5rem;
	--default-text-element-margins: 0.2rem 0;
}

html {font-size: 16px;}
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: --var(--default-text-element-margins); }
p { font-size: 1rem;  }
h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }
li { font-size: 1rem; }

body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: var(--gray);
	color: var(--black);
}

.clearfix { clear: both; }

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: var(--white);
}

.display-flex {
	display: flex;
}
.main-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.main-menu li a {
	display: inline-block;
	padding: var(--default-padding);
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.search-form {
	margin-left: auto;
	padding: var(--default-padding);
}
.btn-search img {
	width: 0.6rem;
	height: 0.6rem;
}

input[type="text"], button {
	border: 1px solid var(--dark-gray);
	border-radius: 0.2rem;
}

.articles-in-column article, .articles-in-grid article {
	margin: var(--default-margins);
}

article h2 a {
	text-decoration: none;
}
article .lead-image {
	max-width: 100%;
	height: auto;
}

.side-banners {
	width: 336px;
}
.side-banners .banner-wrapper {
	margin: var(--default-margins);
}
