:root {
	--white: #ffffff;
	--gray: #dddddd;
	--dark-gray: #999999;
	--black: #000000;
	--blue: #2222CC;
	--light-blue: #5555ff;
	--default-padding: 0.5rem;
	--default-margin: 0.5rem;
	--default-margin-2x: 1rem;
	--side-banners-width: 336px;
	--border-radius: 0rem;
}

html { font-size: 16px; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: var(--default-margin) 0; }
p { font-size: 1rem; }
h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }
li { font-size: 1rem; }

body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: var(--gray);
	color: var(--black);
}

.clearfix { clear: both; }

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: var(--white);
}

.display-flex {
	display: flex;
}
.main-menu {
	padding: 0 0 0 var(--default-padding);
	margin: 0;
	list-style-type: none;
}
.main-menu li a {
	display: inline-block;
	padding: var(--default-padding);
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--blue);
}

.search-form {
	margin-left: auto;
	padding: var(--default-padding) 1rem var(--default-padding) var(--default-padding);
}
.btn-search img {
	width: 0.6rem;
	height: 0.6rem;
}

input[type="text"], button {
	border: 1px solid var(--dark-gray);
	border-radius: var(--border-radius);
}

.main-content {
	padding: var(--default-padding);
}

.articles {
	max-width: calc(100% - var(--side-banners-width) - (2 * var(--default-padding)));
}

article {
	margin: var(--default-margin);
}
article h2 a {
	text-decoration: none;
	color: var(--blue);
}
article p {
	margin: 0 0 var(--default-margin) 0;
}
.date {
	font-weight: bold;
	margin: var(--default-margin) 0;
}
.lead-image {
	float: left;
	max-width: 100%;
	height: auto;
	margin: 0 var(--default-margin) var(--default-margin) 0;
}

.pagination {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: var(--default-margin-2x) 0 var(--default-margin-2x) var(--default-margin);
}
.pagination .page-link {
	display: inline-block;
	margin-right: var(--default-margin);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.pagination a.page-link {
	background-color: var(--blue);
	color: var(--white);
	border-radius: var(--border-radius);
}

.side-banners {
	width: calc(var(--side-banners-width) + (2 * var(--default-margin)));
}
.side-banners .banner-wrapper {
	margin: var(--default-margin);
}

footer {
	padding: calc(var(--default-padding) * 2);
	background-color: var(--dark-gray);
	text-align: center;
}
