:root {
  --white: #ffffff;
  --gray: #dddddd;
  --dark-gray: #999999;
  --black: #000000;
  --blue: #0000cc;
  --light-blue: #2222ff;
  --default-padding: 0.5rem;
  --default-margin: 0.5rem;
  --default-margin-2x: 1rem;
  --side-banners-width: 336px;
  --border-radius: 0rem;
  --transition: 0.5s;
}
